

/**
 * responsive for larger than 450px screen
 */

@media (min-width: 450px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 400px;
    margin: auto;
  }



  /**
   * FOOTER
   */

  .footer-link-box { grid-template-columns: 1fr 1fr; }

}


/**
 * responsive for less than 650px screen
 */

@media(max-width: 768px){
   /**
   * HOME PAGE
   */

   header{
     align-items: center;
     justify-content: center;
   }

   nav{
     margin: 15px auto;
   }

   header figure, header nav.nav-login{
     display: none;
   }

   .side-content{
     flex-direction: row;
     margin: 0 auto;
     align-items: center;
     justify-content: center;
   }

   .side-content .buttons{
     display: flex;
     align-items: center;
     justify-content: space-around;
     gap: 20px;
   }

   .side-content a.display{
     display: inline-block;
   }

   .banner figure img{
    display: none;
  }


 /**
   * create-point
   */

   form .form-title{
     font-size: 25px;
   }

  fieldset .field input{
    width: 100%;
  }

  fieldset .items-grid{
    grid-template-columns: 1fr;
  }

}

/**
 * responsive for larger than 650px screen
 */

@media (min-width: 650px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 600px; }



  /**
   * HERO
   */

  .hero .container { max-width: 450px; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
   */

  .product-list,
  .about-list,
  .top-seller-list { grid-template-columns: 1fr 1fr; }



  /**
   * FOOTER
   */

  .footer-brand { text-align: center; }

  .footer-top .logo {
    width: max-content;
    margin-inline: auto;
  }

  .footer-brand-text {
    display: block;
    font-size: var(--fs-7);
    max-width: 400px;
    margin: auto;
    margin-bottom: 25px;
  }

  .social-list { justify-content: center; }

  .footer-link-box { grid-template-columns: repeat(3, 1fr); }

  .footer-item-title {
    --fs-2: 22px;
    margin-bottom: 30px;
  }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright { margin-bottom: 0; }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 38px;
    --fs-3: 35px;
    --fs-7: 15px;
    --fs-9: 14px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 700px; }

  .btn { padding: 14px 20px; }



  /**
   * HERO
   */

  .hero { padding: 100px 0; }

  .hero .container {
    min-height: 70vh;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 25px;
  }

  .hero-content {
    text-align: left;
    margin-bottom: 0;
  }

  .btn-group { justify-content: flex-start; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER, FOOTER
   */

  .new-product,
  .about,
  .explore-product,
  .top-seller,
  .footer-top { padding: 100px 0; }

  .section-header-wrapper,
  .about-title,
  .top-seller-title { margin-bottom: 60px; }



  /**
   * GO TO TOP
   */

  .go-top {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

}





/**
 * responsive for larger than 1024px screen
 */

@media (min-width: 1024px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 45px;
    --fs-9: 16px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 950px; }



  /**
   * HEADER
   */

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .header-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .search-field {
    background: var(--eerie-black-1);
    color: var(--gray-web);
    padding: 0 15px;
    border: 1px solid var(--onyx-1);
    border-radius: 4px;
  }



  /**
   * HERO
   */
   
  .hero .container {
    max-width: 950px;
    gap: 20px;
  }

  .hero-title,
  .hero-text { margin-bottom: 30px; }

  .hero-text { --fs-7: 18px; }

  .btn-group { gap: 20px; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
   */

  .product-list,
  .about-list,
  .top-seller-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-brand {
    max-width: 280px;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-top .logo,
  .footer-brand-text { margin-inline: 0; }

  .social-list { justify-content: flex-start; }

  .footer-link-box { gap: 60px; }

  .footer-item-title {
    --fs-2: 25px;
    margin-bottom: 30px;
  }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 55px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1150px; }



  /**
   * HEADER
   */

  .header-right,
  .header-nav-wrapper { flex-grow: 1; }

  .navbar-toggle-btn { display: none; }

  .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: scale(1);
    position: static;
    background: none;
    width: 100%;
    padding: 0;
  }

  .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-link { position: relative; }

  .navbar-link:is(:hover, :focus) {
    background: none;
    color: var(--red-crayola);
  }

  .navbar-link::after {
    --scaleY: scaleY(0);

    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) var(--scaleY);
    transform-origin: bottom;
    width: 2px;
    height: 10px;
    background: linear-gradient(to top, var(--red-crayola), transparent);
    transition: var(--transition);
  }

  .navbar-link:hover::after,
  .navbar-link:focus::after { --scaleY: scaleY(1); }



  /**
   * HERO
   */

  .hero .container {
    max-width: 1150px;
    gap: 50px;
  }

  .hero-title,
  .hero-text { margin-bottom: 35px; }



  /**
   * NEW PRODUCT, ABOUT, EXPLORE PRODUCT, TOP SELLER
   */

  .product-list,
  .about-list,
  .top-seller-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * ABOUT
   */

  .about-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }



  /**
   * FOOTER
   */

  .footer-list { min-width: 180px; }

}